@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 580px
  .activities
    &-card
      width: 228px
      height: 228px

@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding: 30px 0   
    &__search
      margin-left: auto
    &-menu
      &__nav
       padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px
  .search
     &__input
     width: 340px
  .hotel
    padding-bottom: 60px
    &-lead
      flex-direction: column
      
    &-wrap
      flex-direction: row
  .slider
    width: 100%
    margin-bottom: 30px
  .booking 
    padding-left: 23px
    padding-right: 22px
    width: 340px
  .map
    width: 340px
    height: 210px
  .reviews
    &-title
      font-size: 30px
      line-height: 38px
    &-slider
      width: 579px
      &__item
       margin-top: 95px
       padding: 0 60px 30px 64px
    &__button
      &-prev
        margin: 0
      &-next
        margin: 0
  .newsletter
    padding: 92px 0 93px 0
  .activities
    padding-bottom: 50px
    &__cards
      flex-wrap: wrap
    &-card
      width: 339px
      max-height: 255px
      margin-bottom: 20px

@media (max-width: 768px)
  .hotel
    padding-bottom: 60px
  .activities
     &-card
      width: 333px
      height: 255px
  .reviews
    padding-bottom: 60px

    
  
@media (max-width: 767px)
  .container
    max-width: 85%  
  .search
    &__input
    width: 300px
  .slider
    height: 400px
  .booking
    width: 48%
    &__button
      width: 100%
      max-height: 45px
      padding: 13px 55px
  .map
    width: 48%
  .newsletter
    &__subscribe
      max-width: 310px
  .reviews
    &-slider
      width: 560px
      &__item
        &:before, &:after
          display: none
  .activities
     &-card
      width: 300px
      height: 255px
          


@media (max-width: 740px)
  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      &__menu-button
        display: flex
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  
  .hotel
    padding-top: 5px
    &-info
      &__info
        width: 100%
      &__offer
        order: -1
        margin-bottom: 10px
      &__text
        justify-content: space-between
      &__stars
        flex-basis: content
        width: unset
      &__title
        width: 100%
        margin: 0
  
  .rating
    display: none

  .slider
    height: 350px
  .reviews
    &-slider
      max-width: 500px
      &__item
        padding: 0 50px 28px 54px
  .activities
     &-card
      width: 290px
      height: 255px

@media (max-width: 711px)
  .booking
    &__button
      padding: 13px 40px
  .newsletter
    &__subscribe
      max-width: 290px
  .reviews
    &-slider
      max-width: 450px
      &__item
        padding: 0 40px 28px 40px
  .activities
     &-card
      width: 285px
      height: 255px

@media (max-width: 689px)
  .activities
     &-card
      width: 270px
      height: 255px

@media (max-width: 640px)
  .slider
    height: 340px
    margin-bottom: 20px
  .hotel
    padding-bottom: 41px
    &-wrap
      flex-direction: column
  .booking
    width: 100%
    margin-bottom: 20px
  .map
    width: 100%
    height: 200px
  .newsletter
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
  .reviews
    padding-bottom: 27px
    &-slider
      max-width: 400px
      &__item
        margin-top: 87px
  .activities
     &-card
      width: 255px
      height: 255px

@media (max-width: 610px)
  .slider
    height: 300px
  .hotel
    padding-bottom: 40px
    &__slider
      margin-bottom: 20px
  .map
    height: 190px
  .newsletter
    &-container
     flex-direction: column
     align-items: flex-start
    &-title
      margin-bottom: 37px
      &__strong
        padding-top: 5px
  .subscribe
      max-width: 100%
  .activities
    padding: 40px 0 50px 0
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
    &-card
      width: 100%
      height: 255px

@media (max-width: 576px)
  .logo
    width: 99px
  .slider
    height: 250px
  .newsletter
    padding: 76px 0 83px 0
  .reviews
    &-title
      font-size: 18px
      line-height: 23px
    &-slider
      &__item
        padding: 0 32px 34px 31px
    &__button
      top: 21%
      &-prev
        left: 50%
        transform: translate(-50%, 0)
        margin-left: -25%
      &-next
        right: 50%
        transform: translate(50%, 0)
        margin-right: -25%

@media (max-width: 485px)
  .reviews
    &-slider
      max-width: 281px
      &__item
        padding: 0 29px 36px 33px
    &__button
      top: 17%


@media (max-width: 435px)
  .hotel
    &__info
      padding-bottom: 38px
  .slider
    height: 200px

@media (max-width: 343px)
  .reviews
    &-title
      margin-left: 20px
      margin-right: 20px
    &__button
      top: 20%
      &-prev
        margin-left: -30%
      &-next
        margin-right: -30%

@media (max-width: 320px)
  .navbar
    &-top
      padding-top: 24px
      padding-bottom: 29px
  .slider
    height: 179px
  .map
    height: 173px
  .reviews
    &__button
      

