.booking
  background-color: #0A223D
  max-width: 350px
  padding-top: 
  padding: 20px 29px 26px 26px
  color: #FFF
  &__info 
   display: flex
   justify-content: space-between
   align-items: center
   margin-bottom: 9px
  &-price 
   display: flex
   align-content: 
   align-items: 
   flex-direction: column
  &__call-center 
   display: flex
   justify-content: space-between
   margin-bottom: 17px
  &__button 
   padding: 13px 84px
   font-size: 14px
   line-height: 19px
   font-family: Nunito
   border: none
   background: #EC1F46
   border-radius: 4px
   color: #FFFFFF


.call-center__number 
  text-decoration: none
  color: inherit


