.hotel
  padding-top: 23px
  padding-bottom: 70px
  &-info
    display: flex
    align-items: center
    justify-content: space-between
    padding-bottom: 20px
    &__stars
      margin-bottom: 4px
    &__text
      display: flex
      align-items: center
      flex-wrap: wrap
    &__title
      margin: 0
      margin-right: 15px
      font-size: 24px
      line-height: 30px
    &__description
      margin: 0
      font-size: 12px
      line-height: 15px
    &__offer
      padding: 3px 9px
      background-color: $primary
      border-radius: 3px
      color: $light
      font-size: 10px
      line-height: 13px
    &__rating 
      display: flex
      flex-direction: column
      align-items: center
      padding: 9px 7px 6px 7px
      background-color: #EC1F46
      border-radius: 3px
      color: #FFFFFF
  &-lead
    display: flex
    justify-content: space-between
  &-wrap
    display: flex
    flex-direction: column
    justify-content: space-between

.stars
  display: flex
  width: 100%
  &__star
    margin-right: 2px

.rating
  &__text 
    font-size: 8px
    line-height: 10px
  &__counter 
    font-weight: bold
    font-size: 14px
    line-height: 18px
